.expenses{
    padding: 1rem;
    background-color: rgb(31, 38, 42);
    margin: 2rem auto;
    width: 50rem;
    
}
p{
    color:#a892ee;
}
@media (max-width: 800px) {
.expenses{
    width: -webkit-fill-available;
    width: -moz-available;
}    
}